.container{
    margin-bottom: 100px;
}
.container h2{
    margin-bottom: 40px;
}
.navbar a{
    font-weight: bold;
}
.buy-now-btn {
        background-image: linear-gradient(to bottom, #242424 0%, #000000 100%);
        color: white;
        border: none;
        border-radius: 5px;
        padding: 9px 25px;
}
.d-flex h6{
    color: orange;
    font-weight: bold;
}
.text{
    text-align: center;
}
.card{
    border: none;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 5px 5px 10px rgb(233, 233, 233);
}
.card-footer{
    background-color: white;
    border-top: none;
    text-align: center;
}
.im{
    margin: 40px;
}
.im h5{
    text-align: center;
    padding: 20px;
}
.carousel-indicators {
        position: absolute;
        right: 0;
        bottom: 10px;
        color: orange;
    
}
.carousel-indicators .active {
    width: 45px;
    height: 10px;
    border-radius: 10px;
   background-image: linear-gradient(to bottom, #ffd900 0%, #fffc68 100%);
}
.carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 10px;
    border-radius: 15px;
    border: none;
    background-color: #c0c0c0;
    background-image: linear-gradient( #aaaaaa, #f1f1f1 );  
}
.carousel-indicators{
            margin-bottom: -40px;
}
.row{
    padding: 10px;
}